<h1>Good BEAUTY PRODUCTS:</h1>
{{#each foo}}
{{this}}
{{/each}}

<h1>Beauty Bucket List</h1>
<p>These featured items are "Good" beauty products contains no hazard ingredients.</p>
<p>Viewers can veiw the items and can give feedback on them.</p>
<p>Click name of the product to see reviews and where to buy.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Ingredients</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}} 
        <tr>
            <td>{{brand}}</td>
            <td>{{name}}</td>
            <td>{{category}}</td>
            <td>{{description}}</td>
            <td>{{ingredient}}</td>
            <td><button type="button" class="btn btn-info">Info</button></td>
            <td><button type="button" class="btn btn-danger">Danger</button></td>
        </tr>
        {{/each}}
    </tbody>
    <br>
    <br>
    <form id="addproduct" class="form-horizontal" action="beauty" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" for="brand">Brand:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="brand" placeholder="Enter Brand" name="brand">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="brand">Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Enter Product Name" name="name">
            </div>
        </div>
        <div class="form-group">
            <label for="cetegory" class="control-label col-sm-2">Category:</label>
            <select class="form-control col-sm-10" name="category">
                <option>skincare</option>
                <option>makeup</option>
                <option>haircare</option>
                <option>bodycare</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="brand">Description:</label>
            <div class="col-sm-10">
                <input type="textarea" class="form-control" id="description" placeholder="Enter Description" name="description">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="brand">Ingredients:</label>
            <div class="col-sm-10">
                <input type="textarea" class="form-control" id="ingredient" placeholder="Enter Ingredients" name="ingredient">
            </div>
        </div>
        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <br>
    <br>
</table>